<html>
  <head>
  </head>
  <body>
    <div id="content">
      <button onclick="back()">back</button>
      <button onclick="createdir()">Create Directory</button>
      <button onclick="removefiles()">Remove</button>
      <form action="/uploadfile" method="post">
        <input type="file" id="file_upload" name="file_upload">
        <input type="submit">
      </form>
      <h1>{{ .dir }}</h1>
      {{ range $file := .files }}
          <input type="checkbox" id="{{ .Name }}_checkbox" name="_checkbox">
          {{ if .IsDir }}
            <button onclick="window.location = window.location + '{{ .Name }}/'">{{ .Name }}</button>
          {{ else }}
            <a download>{{ .Name }}</a>
          {{end}}
        <br/>
      {{ end }}
      <p>{{ .location }}</p>
    </div>
    <script src="/assets/dir.js"></script>
  </body>
</html>
