<html>
  <head>
  </head>
  <body>
    <div id="content">
      <button onclick="back()">back</button>
      <button onclick="createdir()">Create Directory</button>
      <h1>{{ .dir }}</h1>
      {{ range $file := .files }}
          <input type="checkbox" id="{{ .Name }}_checkbox" name="{{ .Name }}_checkbox">
          {{ if .IsDir }}
            <button onclick="window.location = window.location + '/{{ .Name }}'">{{ .Name }}</button>
          {{ else }}
            <span>{{ .Name }}</span>
          {{end}}
        <br/>
      {{ end }}
      <p>/dirtest endpoint</p>
    </div>
    <script src="/assets/dir.js"></script>
  </body>
</html>
